.contact-block .contact-content {
    border-collapse: collapse;
    padding: 10px 0 17px 0;
}

.contact-block .contact-content table{
    border-collapse: collapse;
}

.contact-block .contact-content  td{
    padding: 9px 24px 9px 0;
}

.contact-block .contact-content  .contact-field-name{
    font-family:'MyriadPro-Bold', sans-serif;
    color:rgb(61,108,176);
    font-size: 12px;
    text-transform: uppercase;
}

.contact-block .contact-content  .contact-field{
    font-family:'MyriadPro-Regular', sans-serif;
    font-size: 12px;
}

.contact-block a {
    text-decoration: none;
    color:black;
}