.education-content > ul > li > .dot {
    position:absolute;
    left:-24px;
    top:5px;
}

.education-content > ul {
    margin:15px 0 25px 31px ;
    padding:0;
}
.education-content > ul > li {
    position:relative;
    padding-bottom:6px;
    list-style: none;
    font-size:0;
}

.education-content > ul > li > .first-line {
    display:inline-block;
    font-size:16px;
    margin:0;
    padding:2px 0;
    color:rgb(61,108,176);
    padding-right:7px;
    text-transform: uppercase;
    font-weight: bold;
}

.education-content > ul > li > .first-line-continue {
    font-weight: normal;
    display:inline-block;
    font-size:16px;
    margin:0;
    letter-spacing:-0.6px;
    padding:2px 0;
}

.education-content > ul > li > .second-line {
    font-weight: normal;
    display:inline-block;
    font-size:16px;
    width:100%;
    margin:0;
    padding:0;
    letter-spacing:-0.5px;
    text-transform: uppercase;
}

.education-content > ul > li > .third-line {
    display:inline-block;
    margin:0;
    padding:0;
    margin-bottom:1px;
    font-size:9px;
}