.experience-content {
    position:relative;
}

.experience-content > ul > li > .dot {
    position:absolute;
    left:10px;
}

.experience-content > ul {
    padding-top:0px;
    padding-bottom:0px;
    margin-bottom:11px;
    margin-top:25px;
    margin-left:1px;
}
.experience-content > ul > li {
    list-style: none;
    font-size:0px;
}

.experience-content > ul > li > .first-line {
    display:inline-block;
    font-size:16px;
    margin:0;
    padding:2px 0px 2px 0px;
    padding-right:7px;
    text-transform: uppercase;
    font-family:'MyriadPro-Bold', sans-serif;
}

.experience-content > ul > li > .first-line-continue {
    display:inline-block;
    font-size:16px;
    margin:0;
    letter-spacing:-1px;
    padding:2px 0px 0px 0px;
}

.experience-content > ul > li > .second-line {
    display:inline-block;
    font-size:16px;
    width:100%;
    margin:0;
    padding:0;
    magrin-top:0px;
    margin-bottom:0px;
    text-transform: uppercase;
}

.experience-content > ul > li > .third-line {
    display:inline-block;
    margin:0;
    padding:0;
    magrin-top:0px;
    margin-bottom:1px;
    padding:0px 0px;
    font-size:10px;
}

