@font-face {
    font-family: MyriadPro;
    src: url(../fonts/MyriadPro-LightSemiExt.otf),
    url(../fonts/MyriadPro-LightSemiExt.ttf),
    url(../fonts/MyriadPro-LightSemiExt.woff),
    url(../fonts/MyriadPro-LightSemiExt.svg);
    font-weight: 300;
}

@font-face {
    font-family: MyriadPro;
    src: url(../fonts/MyriadPro-Bold.otf),
    url(../fonts/MyriadPro-Bold.ttf),
    url(../fonts/MyriadPro-Bold.woff),
    url(../fonts/MyriadPro-Bold.svg);
    font-weight: bold;
}

@font-face {
    font-family: MyriadPro;
    src: url(../fonts/MyriadPro-Regular.otf),
    url(../fonts/MyriadPro-Regular.ttf),
    url(../fonts/MyriadPro-Regular.woff),
    url(../fonts/MyriadPro-Regular.svg);
    font-weight: normal;
}


body {
    font-family:'MyriadPro', sans-serif;
    font-size: 9px;
    text-align: center;
}

.list{
    position: relative;
    display:inline;
    text-align: left;
}

.left {
    display:inline-block;
    vertical-align: top;
    width: 248px;
    min-width:248px;
    margin-right: 44px;
}

.right {
    display:inline-block;
    vertical-align: top;
    width: 380px;
    min-width:248px;
}

.block-header {
    position:relative;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    height: 44px;
}

.left .block-header {
    width: 248px;
}

.right .block-header {
    width: 380px;
}

@media screen and (max-width: 700px) {
    .left {
        width:80%;
        margin-right: 0;
    }

    .right {
        width:80%;
    }

    .left .block-header {
        width: 100%;
    }

    .right .block-header {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .left {
        width:90%;
    }

    .right {
        width:90%;
    }
}

@media screen and (max-width: 400px) {
    .left {
        width:100%;
    }

    .right {
        width:100%;
    }
}

.block-header svg {
    position:absolute;
    z-index: -1;
}

.block-header img {
    display: inline-block;
    padding: 7px;
    width: 30px;
    height:30px;
}

.block-title {
    display: inline-block;
    margin:9px 0 0 2px;
    padding-right: 8px;
    vertical-align: top;
    color:rgb(61,108,176);
    background-color:white;
    letter-spacing:0.5px;
}

.right .block-header .block-title {
    padding-left: 7px;
}

.block {
    width:100%;
}