.main-block {
    text-align: center;
    padding:0 0 42px 5px;
}

.main-block .block-decoration svg{
    display: inline;
    margin: 8px 0 13px;
}

.main-block .main-content{
    text-align: center;
}

.main-block p {
    font-family:'MyriadPro-Bold', sans-serif;
    margin: 0;
    color:black;
}

.main-content{
    text-transform: uppercase;
}

.main-block .main-name {
    font-family:'MyriadPro-LightSemiExt', sans-serif;
    font-size:32px;
    line-height: 0.8;

}

.main-block .main-surname {
    font-family:'MyriadPro-Bold', sans-serif;
    font-size:37px;
    font-weight: bold;
    letter-spacing:0;
}

.main-block .main-position {
    font-family:'MyriadPro-Bold', sans-serif;
    font-size:15px;
    letter-spacing:-0.37px;
}

