@font-face {
    font-family: MyriadPro-LightSemiExt;
    src: url(../fonts/MyriadPro-LightSemiExt.otf),
    url(../fonts/MyriadPro-LightSemiExt.ttf),
    url(../fonts/MyriadPro-LightSemiExt.woff),
    url(../fonts/MyriadPro-LightSemiExt.svg);

}

@font-face {
    font-family: MyriadPro-Bold;
    src: url(../fonts/MyriadPro-Bold.otf),
    url(../fonts/MyriadPro-Bold.ttf),
    url(../fonts/MyriadPro-Bold.woff),
    url(../fonts/MyriadPro-Bold.svg);
}

@font-face {
    font-family: MyriadPro-Regular;
    src: url(../fonts/MyriadPro-Regular.otf),
    url(../fonts/MyriadPro-Regular.ttf),
    url(../fonts/MyriadPro-Regular.woff),
    url(../fonts/MyriadPro-Regular.svg);
}


body {
    font-family:'MyriadPro-LightSemiExt', sans-serif;
    text-align: center;
}

.list{
    position: relative;
    display:inline;
    text-align: left;
}

.left {
    display:inline-block;
    vertical-align: top;
    width: 248px;
    min-width:248px;
    margin-right: 41px;
}

.right {
    display:inline-block;
    vertical-align: top;
    width: 380px;
    min-width:248px;
}

.block-header {
    position:relative;
    text-transform: uppercase;
    font-family:'MyriadPro-Bold', sans-serif;
    font-weight: bold;
    height: 44px;
}

.block-header svg {
    position:absolute;
    z-index: -1;
}

.left .block-header {
    width: 248px;
}

.right .block-header {
    width: 380px;
}

.block-header img {
    display: inline-block;
    padding: 7px;
    width: 30px;
    height:30px;
}

.block-title {
    display: inline-block;
    margin:9px 0 0 2px;
    padding-right: 8px;
    vertical-align: top;
    color:rgb(61,108,176);
    background-color:white;
    letter-spacing:0.5px;
}

.right .block-header .block-title {
    padding-left: 7px;
}

.block {
    width:100%;
}