@media screen and (max-width: 700px) {

    .left {
        width:80%;
        margin-right: 0;
    }

    .contact-block .contact-content table{
        border-collapse: collapse;
    }

    .right {
        width:80%;
    }

    .skills-content {
        text-align: center;
    }

    .contact-block .contact-content table{
        margin: 0 auto;
    }

    .left .block-header {
        width: 100%;
    }

    .right .block-header {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .left {
        width:90%;
    }

    .right {
        width:90%;
    }
}

@media screen and (max-width: 400px) {
    .left {
        width:100%;
    }

    .right {
        width:100%;
    }
}