.block  .profile-content {
    padding-bottom: 17px;
}

.block  .profile-content  p{
    font-family:'MyriadPro-Regular', sans-serif;
    font-size: 9px;
    line-height:1.28;
    letter-spacing:0.1px;
}

.block > .profile-content > p > strong{

    font-family:'MyriadPro-Bold', sans-serif;
}