.skills-content{
    padding-top: 7px;
    text-align: center;
}

.skills-content p {
    display:block;
    font-size:15px;
    text-transform: uppercase;
    margin:9px 0 0 2px;
}

.dot-bar{
    display:inline;
}

.dot-bar > .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(61,108,176);
    padding: 1px;
    margin-right: 3px;
}

.dot-bar > .none {
    background: rgb(230,230,230);
}