.skills-content{
    padding: 14px 0 0px 9px;
}

.skills-content p {
    display:block;
    font-size:15px;
    text-align: center;
    text-transform: uppercase;
    padding:0px;
    margin:2px 0px 0px 2px;

}

.dot-bar{
    display:block;
    align: center;
    margin:0px 0px 9px 27px;
    padding:0px 0px 0px 0px;
}

.dot-bar > .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(61,108,176);
    padding: 1px;
    margin-top: 0px;
    margin-right: 3px;
}

.dot-bar > .none {
    background: rgb(230,230,230);
}