.skills-content{
    padding-top: 4px;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .skills-content {
        text-align: center;
    }
}

.skills-content p {
    display:block;
    font-size:15px;
    text-transform: uppercase;
    margin:12px 2px 3px;
}

.dot-bar{
    display:inline;
}

.dot-bar > .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(61,108,176);
    padding: 1px;
    margin-right: 4px;
}

.dot-bar > .none {
    background: rgb(230,230,230);
}