.software-content {
    padding: 15px 0 0 1%;
}

.software-canvas {
    height:13px;
    background:rgb(61,108,176);
}

.software-content > ul {
    display: inline-block;
    width: 44%;
    padding:0;
    list-style: none;
    font-size:0px;
}

.software-content > .software-left-column {
    margin-right: 10%;
}

.software-content > ul > li {
    padding:0;
    margin:0;
    list-style: none;
    text-transform: uppercase;
    font-size:0px;
}

.software-content > ul > li > .software-name {
    margin: 0 0 7px 0;
    display:inline-block;
    font-size:16px;
    font-family:'MyriadPro-Regular', sans-serif;
}

.software-canvas-back{
    margin-bottom: 12px;
    position:relative;
    display:block;
    background: #e6e6e6;
    height:13px;
}

.software-content > ul >li > .software-canvas-back > .photoshop {
    width: 70%;
}

.software-content > ul >li > .software-canvas-back > .illustrator {
    width: 90%;
}

.software-content > ul >li > .software-canvas-back > .indesign {
    width: 30%;
}

.software-content > ul >li > .software-canvas-back > .dreamweawer {
    width: 50%;
}

.software-content > ul >li > .software-canvas-back > .after-effects {
    width: 100%;
}

.software-content > ul >li > .software-canvas-back > .html-css {
    width: 80%;
}