.contact-block .block-header {
    margin-top:12px;
}

.contact-block .contact-content {
    padding: 12px 0 0px 4px;
}

.contact-block .contact-content  td{
    padding: 8px 15px 8px 5px;
}

.contact-block .contact-content  .contact-field-name{
    font-family:'MyriadPro-Bold', sans-serif;
    color:rgb(61,108,176);
    font-size: 12px;
    text-transform: uppercase;
}

.contact-block .contact-content  .contact-field{
    font-family:'MyriadPro-Regular', sans-serif;
    font-size: 12px;
}
