.main-block {
    position:relative;
    width:100%;
    margin:0 0 20px 0;
    left:-10px;
}
.main-block .block-header {
    position:relative;
    display:inline-block;
    align:center;
    width:100%;
    hight:180px;
    padding:0;
    margin:0;
}
.main-block .block-decoration {
    position:relative;
    align:center;
    width:200px;
    hight:180px;
    padding: 0px 50%;
    magrin: 0px;
    margin-left:-100px;
    left:14px;
}

.main-block .main-content{
    position:relative;
    text-align: center;
    left:15px;
}

.main-block p {
    font-family:'MyriadPro-Bold', sans-serif;
    padding: 0;
    margin: 0;
    color:black;
}

.main-content{
    text-transform: uppercase;
    padding-top:7px;
    padding-left:5px;
    line-height:32px;
}
.main-block .main-name {
    font-family:'MyriadPro-LightSemiExt', sans-serif;
    font-size:30px;
}

.main-block .main-surname {
    font-family:'MyriadPro-Bold', sans-serif;
    font-size:37px;
    font-weight: bold;
    padding-left:10px;
    letter-spacing:0px;
}

.main-block .main-position {
    font-family:'MyriadPro-Bold', sans-serif;
    font-size:15px;
    padding-left:12px;
    letter-spacing:-0.37px;
}

