@font-face {
    font-family: MyriadPro-LightSemiExt;
    src: url(../fonts/MyriadPro-LightSemiExt.otf);
}

@font-face {
    font-family: MyriadPro-Bold;
    src: url(../fonts/MyriadPro-Bold.otf);
}


body {
    background-color: white;
    font-family:'MyriadPro-LightSemiExt', sans-serif;
}

.left {
    display:inline-block;
    position: relative;
    vertical-align: top;
    margin-left: 0px;
    padding:0;
    width: 300px;
    height: 100%;
}

.right {
    display:inline-block;
    position: relative;
    vertical-align: top;
    margin-left: 0px;
    margin-top: 0px;
    padding:0;
    width: 600px;
    height: 100%;
    border: red solid 1px;
}

.block {
    margin:0px;
    position:relative;
    width:100%;
}

.block-title {
    display:inline;
    position:absolute;
    top:0px;
    left:80px;
    font-size:30px;
    color:rgb(61,108,176);
    background-color:white;
    padding-right:10px;
}

.skills-canvas {
    magrin:0;
    border:red solid 1px;
}

.block-header {
    text-transform: uppercase;
    font-family:'MyriadPro-Bold', sans-serif;
    font-weight: bold;
    padding: 10px 0 0 10px;
}

.dot-bar > .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(61,108,176);
    padding: 1px;
    margin-top: 0px;
}

.dot-bar > .none {
    background: gray;
}
