.software-canvas {
    display:block;
    magrin:0;
    width:100px;
    height:10px;
    background:rgb(61,108,176);
}


.software-content > ul {
    display:inline-block;
    list-style: none;
}

.software-content > ul > li {
    list-style: none;
    text-transform: uppercase;
}

.software-canvas-back{
    background: gray;
    width:150px;
    height:10px;
}
