.software-content{
    position:relative;
    padding:0px;
    magrin:0px;
}
.software-canvas {
    display:block;
    padding:0px;
    magrin:0px;
    height:13px;
    background:rgb(61,108,176);
}

.software-content > ul {
    display:inline-block;
    list-style: none;
    magrin:0px;
    padding:13px 5% 0px 15px;
    font-size:0px;
}

.software-content > .software-right-column {
    padding-right:0px;
}


.software-content > ul > li {
    list-style: none;
    text-transform: uppercase;
    magrin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    font-size:0px;
}

.software-content > ul > li > .software-name {
    display:inline-block;
    padding:0px;
    font-size:16px;
    magrin:0;
    padding:0;
    margin-top:1px;
    padding-bottom:1px;
    font-family:'MyriadPro-Regular', sans-serif;
}

.software-canvas-back{
    position:relative;
    top:-9px;
    display:block;
    background: gray;
    width:166px;
    height:10px;
    padding-bottom:4px;
}

.software-content > ul >li > .software-canvas-back > .photoshop {
    width: 70%;
}

.software-content > ul >li > .software-canvas-back > .illustrator {
    width: 90%;
}

.software-content > ul >li > .software-canvas-back > .indesign {
    width: 30%;
}

.software-content > ul >li > .software-canvas-back > .dreamweawer {
    width: 50%;
}

.software-content > ul >li > .software-canvas-back > .after-effects {
    width: 100%;
}

.software-content > ul >li > .software-canvas-back > .html-css {
    width: 80%;
}